<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<!-- <div class="container">
  <div class="form-group">
<input type="text" class="form-control" [(ngModel)]="ResturantName"  placeholder="Restrunt name">
  </div>
  <div class="form-group">
<input type="text" class="form-control" [(ngModel)]="ResturantAddress" placeholder="Restrunt Address">
  </div>

  <div class="form-group">
<button (click)="createRecord()" class="btn btn-primary">Add</button>
  </div>


</div> -->
<!-- binding on form -->
<form [formGroup]="usrFormGroup"  class="m-2">

  <div class="mb-3">
      <label for="RestruntName" class="form-label">RestruntName</label>

      <input type="text" class="form-control" name="ResturantName" id="ResturantName" formControlName="ResturantName">

    </div>

  <div class="mb-3">
    <label for="ResturantAddress" class="form-label">ResturantAddress</label>
    <input type="text" class="form-control" name="ResturantAddress" id="ResturantAddress" formControlName="ResturantAddress">
  </div>



    <div formArrayName="meals"
    *ngFor="let item of orders.controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="name" placeholder="Meal">
      <input formControlName="price" placeholder="Price">
    </div>
  </div>
  <button type="submit" class="btn btn-danger" (click)="addItem()">Add Meal</button>
  <br>
<br>

  <button type="submit" class="btn btn-success" (click)="createRecord()">Submit</button>
</form>





